@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("/Webfont/IntegralCF-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.reviews::-webkit-scrollbar {
  display: none;
}

.reviews {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
